:root {
	--back: rgb(85, 7, 103);
  --back2: hsla(261, 83%, 60%, 0.5);
  --foredark: rgb(16, 4, 4);
	--forelight: rgb(245, 250, 243);
	--border: hsla(114, 61%, 13%, 0.8);
	--borderlight:rgb(85, 7, 103) ;
	--shadow: hsl(327, 89%, 11%);
	--zebra: hsl(310, 10%, 89%);
}

h1{
    text-align: center;
}

body {
	align-content: center;
	font-family: "EB Garamond", Arial, serif;
    font-size: 1.2rem;
    font-weight: 800;
}

table {
	margin: 14px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 20px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 20px 30px;
	border: 1px solid var(--borderlight);
}
thead tr:nth-child(2) th:nth-child(1) {
    background-color: rgb(85, 7, 103);
  }

th {
	background-color: var(--back2);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
    
}
footer{
    text-align: center;
    width: max-content;
	margin: 14px auto;

}
.highlight{
    color: white;
}

