* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    max-width: fit-content;
	font-family: Roboto, helvetica, sans-serif;
	background-color: #d8e9e9;
}

main {
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	max-width: 720px;
	max-height: fit-content;
}

header,
footer {
	height: 200px;
	background-color: #027f7b;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

form {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	position: relative;
}



input,
textarea,
select {
	padding: 10px;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid navy;
	font-size: 1.1rem;
}

button {
	background-color: #b5ebe7;
	color: #071716;
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 700;
	width: auto;
}

label {
	color: navy;
	font-size: 16px;
}

input:focus,
textarea:focus {
	outline: none;
}

input::placeholder {
	font-size: 13px;
}

#formmessage {
	visibility:visible;
	margin: 10px;
	padding: 0.5rem;
	color: red;
}

#password:invalid {
	background-color: #fff0f3;
	animation: shaketext 500ms;
}

/* input[required] ^ label::after {
	font-size: 10px;
	content: " *️⃣";
} */

.req::after {
	font-size: 10px;
	content: " *️⃣";
}

.smaller {
	font-size: 11px;
	position: absolute;
	top: -10px;
	right: 10px;
}

@keyframes shaketext {
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
}
#r {

	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	
}

#rangevalues option {
	flex: 1 1 auto;
}


input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
	background-color: rgb(30, 187, 201);
	color: rgb(255, 255, 255);
  }
  
  /* Style the container for inputs */
  .container {
	background-color: #f1f1f1;
	padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
	display:none;
	background: #f1f1f1;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
  }
  
  #message p {
	padding: 10px 35px;
	font-size: 12px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
	color: green;
  }
  
  .valid:before {
	position: relative;
	left: -35px;
	
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
	color: red;
  }
  
  .invalid:before {
	position: relative;
	left: -35px;
	
  }
  legend {
	margin-top: -40px;
  }
  h1{
	text-align: center;
	color: #000;
	font-size: larger;
  }
  