:root {
  --main-bk-color: black;
  --secondary-bk-color: rgb(198, 236, 241);
  --main-font-color: white;
  --secondary-font-color: rgba(235, 240, 242, 0.734);
  --title-font-family: 'Arial';
  --main-font-family: 'Arial';
}

body {
  font-family: var(--main-font-family);
  font-size: larger;
}
header{
  background-color: aqua;
  text-align: center;
}
 main, footer {
  margin: 0 auto;
  align-items: center;
  margin-top: 1em;
}

footer {
  background-color: var(--main-bk-color);
  color: var(--main-font-color);
  border-radius: 1.5em;
  text-align: center;
  padding: 0.5em;
  width: 55%;
  height: 30px;
  color: var(--secondary-font-color);
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--secondary-bk-color);
  padding: 1em;
  width: 50%;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;

}








body {140
  max-width: fit-content;
  font-family: "Lato", "Arial", sans-serif;
  background-color: var(--outline-color);
}

h2 {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  color: rgb(0, 0, 0);
}


















header {
	background-color: #15616D;
	display: grid;
    grid-template-columns: 5fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: #f4f7f5;

}

header div {
    display: flex;
    flex-flow: row;
}

header div #datetime{
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    width: 100%; 
}

.date-header {
    grid-column: 1/4;
}

.menu {
    grid-column: 1/4;
}

.logo {
    width: 4rem;
}

footer {
	background-color: #15616D;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
/*	padding: 1px; */
    font-size: 15px;
    color: white;
}

header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}


h1 {
	font-size: 2rem;
}
h2 {
	padding: .5rem;
	color: black;
}


p {
	padding: .5rem;
}
h1, p {
    margin: 0 2vw;
}

header div button, a {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #f4f7f5;
}

a {
    text-decoration: none;
}

header div a {
    margin: 1.5rem;
}

header .social a {
    margin: 0;
}

header div nav {
    background-color: black;
}

header div nav ul {
    list-style-type: none;
	flex: auto;
    padding: 0;
    margin: 0;
}

header div nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header div nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
	color: #f4f7f5;
    border-top: 1px solid rgb(46, 120, 139); ;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}

header div nav ul li.active a {
    background-color: #7e7f9a;
    color:#fff;
}

header div nav ul li a:hover {
    background-color: #ff7d00;
}

header div nav ul {
    display: none;
}

header div nav ul.open {
    display: block;
}

#hamburguerBtn span:nth-child(1) {display: block}
#hamburguerBtn span:nth-child(2) {display: none}

#hamburguerBtn.open span:nth-child(1) {display: none}
#hamburguerBtn.open span:nth-child(2) {display: block}



main {
	align-items: center;
	justify-content: center;
	font-size: 0.85rem;
    padding: 0.5rem;
}

header div {
    width: 100%;
}

header div nav {
    width: 100%;
}

footer {
	display: flex;
	padding: 1rem;
	justify-content:space-evenly;
/*	font-weight: 200; */
    margin-top: 1rem;
}


main h1, h2, h3, h4, p, li {
    padding: 10px;
}

li {
    margin-left: 40px;
}


aside {
    background-color: #7E7F9A;
    padding: 10px;
}

main div {
    height: 150px;
    background-color: #DEE5E5;
    margin-bottom: 10px;
    padding: 10px;
}

.join {
    display: none;
}

.spotlight3 {
    display: none;
}

footer p {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.date-header {
    text-align: center;
}

.hide-small {
    display: none;
}

span {
    display: inline-block;
}
