body {
    display: grid;
    width: 50%;
    height: 100vh;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
    font-size: smaller;
  }

  .main-navegation {
    font-size: large;
    background: rgb(189, 235, 161);
    padding: 2rem;
    height: 50%;
    grid-column: 1 / 4;
  }

  main {
    background: coral;
    font-size: large;
    grid-column: 2/ 2;
  
    
  }

  .right-sidebar {
    background: yellow;
    font-size: large;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
